<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a811b5afd0.js" crossorigin="anonymous"></script>
    <title>Ferox Technologies</title>
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 84%;
        }
    </style>
</head>

<body class="w3-light-grey">
    <!-- Top Container -->
    <div class="w3-bar w3-top w3-2021-inkwell w3-large">
        <span class="w3-bar-item">FEROX TECHNOLOGIES</span>
        <div class="custom-select w3-right" style="width:150px;">
            <select name="lang" id="lang" class="w3-bar-item w3-hover-none w3-2021-inkwell">
                <option value="vn" style="color:black; background-color: white;"><b> Tiếng Việt </b></option>
                <option value="en" style="color:black; background-color: white;"><b> English </b></option>
            </select>
        </div>

        <button class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey w3-right" onclick="myFunction()">
            <i class="fa fa-question"></i> Hướng Dẫn
        </button>
        <button class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey w3-right" onclick="myFunction()">
            <i class="fa fa-comments"></i> Hỗ Trợ Khách Hàng
        </button>
        <button class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey w3-right" onclick="myFunction()">
            <i class="fa fa-home"></i> Trang Chủ
        </button>
    </div>

    <!-- Sidebar/ Menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index: 3; width: 300px" id="mySidebar">
        <br />
        <div class="w3-container w3-row">
            <div class="w3-col s4">
                {% load static %}
                <img src="{% static 'IMG/avatar.png'%}" class="w3-circle w3-margin-right" style="width: 46px" />
            </div>
            <div class="w3-col s8 w3-bar">
                <span>Welcome, <strong>Mike</strong> <a href="{% url 'login' %}"> logout.</a></span><br/>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-bell"></i></a>
            </div>
        </div>
        <hr>
        <div class="w3-container">
            <h4>PHÒNG TRADER</h4>
        </div>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
                onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
            <a href="#" class="w3-bar-item w3-button w3-padding w3-2021-inkwell"><i class="fa fa-users fa-fw"></i>  Tài
                khoản
                giao dịch</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Xem thông tin</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Nạp tiền</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Mua lệnh</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  Chuyển tiền</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  Lịch sử giao
                dịch</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Cài đặt</a><br><br>
        </div><br><br><br>
        <hr>
        <div class="w3-container">
            <i>
                <h3>Trung tâm Hỗ trợ <br>Khách hàng</h3>
            </i>
            <i class="fas fa-phone-square-alt" style="font-size:18px"> : 000.000.0000</i>
            <hr>
            <i class="fas fa-envelope" style="font-size:18px"> : Test@gmail.com</i>
        </div>
        <hr>
    </nav>
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
        title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h3><b><i class="fa fa-lock"></i> Khu vực khách hàng</b></h3>
        </header>
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
                <div class="w3-container w3-2021-inkwell w3-padding-16">
                    <div class="w3-center"><i class="fa fa-users fa-fw w3-xxlarge"></i></div>
                    <div class="w3-center">
                        <h3>NETWORK</h3>
                    </div>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-white w3-padding-16 w3-border">
                    <div class="w3-center"><i class="fas fa-book fa-fw w3-xxlarge"></i></div>
                    <div class="w3-center">
                        <h3>FOREX TRAINING</h3>
                    </div>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-2021-inkwell w3-padding-16" style="border: 1px solid black;">
                    <div class="w3-center"><i class="fas fa-coins fa-fw w3-xxlarge"></i></div>
                    <div class="w3-center">
                        <h3>AUTOCHARTIST</h3>
                    </div>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-white w3-padding-16 w3-border">
                    <div class="w3-center"><i class="fas fa-download fa-fw w3-xxlarge"></i></div>
                    <div class="w3-center">
                        <h3>HỢP ĐỒNG GIAO DỊCH</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-right" style="padding-right: 50px;">
            <h4>Số dư ví : <b>10000,</b> USD</h4>
        </div><br>
        <div class="w3-container">
            <div class="w3-panel w3-border">
                <div>
                    <div class="w3-left">
                        <h2>DANH MỤC ĐẦU TƯ</h2><br>
                        <div style="font-size: 20px;">Xem
                            <select class="custom-select" style="width:50px;" id="page">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                            mục :
                        </div>
                    </div>
                    <div class="w3-right">
                        <h3><button class="w3-button w3-2021-inkwell w3-round-large fas fa-tools"> ĐỀ NGHỊ DANH MỤC</button>
                            <button class="w3-button w3-2021-inkwell w3-round-large fas fa-plus"> THÊM DANH MỤC</button>
                        </h3>
                        <div style="padding-left: 295px; padding-top: 10px;font-size: 20px;">Tìm :
                            <input type="text" placeholder="Search..">
                        </div>
                    </div>
                </div>
                <div class="w3-container"><br><br>
                    <table class="w3-table w3-striped w3-bordered">
                        <thead style="font-size: 20px;">
                            <th>Số tài khoản</th>
                            <th>Số tiền tài khoản</th>
                            <th>Balance</th>
                            <th>Equity</th>
                            <th>Margin%</th>
                            <th>Hiệu lực</th>
                            <th colspan="1">Hành động</th>
                            <th></th>
                        </thead>
                        <tr style="font-size: 18px;">
                            <td>ABC</td>
                            <td>USD</td>
                            <td>1234</td>
                            <td>4321</td>
                            <td>2345</td>
                            <td></td>
                            <td>
                                <ul>
                                    <li><a href="#">Chi tiết</a></li>
                                    <li><a href="#">Cài đặt</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr style="font-size: 18px;">
                            <td>ABC</td>
                            <td>USD</td>
                            <td>1234</td>
                            <td>4321</td>
                            <td>2345</td>
                            <td></td>
                            <td>
                                <ul>
                                    <li><a href="#">Chi tiết</a></li>
                                    <li><a href="#">Cài đặt</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr style="font-size: 18px;">
                            <td>ABC</td>
                            <td>USD</td>
                            <td>1234</td>
                            <td>4321</td>
                            <td>2345</td>
                            <td></td>
                            <td>
                                <ul>
                                    <li><a href="#">Chi tiết</a></li>
                                    <li><a href="#">Cài đặt</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- Footer-->
        <footer class="w3-container w3-2021-inkwell" style="max-height: 60px;">
            <div class="w3-row-padding">
                <div class="w3-half">
                    <h3>ĐIỀU KHOẢN VÀ ĐIỀU KIỆN</h3>
                </div>
                <div class="w3-half">
                    <h3>FEROX TECHNOLOGIES</h3>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>